* {
  /*box-sizing: border-box;*/
}
h2{
  text-align: right;
}
body {
  font-family: Arial, Helvetica, sans-serif; 
}

/* Estilo del encabezado */
.header {
  background-color: rgb(240, 30, 40) ;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}


.columna3 {
  float: right;
  width: 20%;
  padding: 10px;
  height: 300px; 
  background-color:  #76d7c4 ;
}

.columna2 {
  float: left;
  width: 50%;
  padding: 40px;
  height: 300px;
  background-color: #17a589;
/*  width: "500"; 
  height: "500";*/
}



/* Style the footer */
footer {
  background-color:  #2980b9 ;
  padding: 10px;
  text-align: center;
}

/*.menus li{
  float: left; Ubica los elementos al lado del otro
  text-align: left;
}*/

.menu__lista{
  list-style-type: none;/*quita las viñetas*/
  margin: 0;
  padding: 0;
  overflow: hidden; /*Contenido no se desborde*/
  background-color: #333;

}
.menu__lista li{
  float: left; /*Ubica los elementos al lado del otro*/
}

.menu__lista li a{

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration-line: none;
}

.menu__lista li a:hover{
  background-color: #17a589;
}

.menu__active{
  background-color: #2980b9 ;
}
.categoria{
  background-color: #000;
  color: #000;
  text-align: center;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #000;
}
.galeriaprincipal{
  display: flex;
}

.galeria{
  background-color: red;
  margin: 0 auto;
}

.footer__texto__img{
  width: 40px;
}
.about{
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
}

.titulo{
  font-size: 80px;
  font-family: 'Abril Fatface', cursive;
}


/*---------------------*/
/*.padre{
  width: 500px;
  height: 500px;
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 10px;
  border-color: black;
}

.hijo{
  width: 250px;
  height: 250px;
  background-color: red; 
  /*margin: 0 auto;
  
}*/

.padre{
  background-color: #000;
  padding: 1em;
  overflow:  hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hijo{
  margin: 1em;
  padding: 1em;
  color: #fff;
  float: left;
}
#item1{
  background-color: rgb(253, 210, 0 );
}

#item2{
  background-color: rgb(253, 210, 0 );
}
.texto{
  text-align: center;
}